{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="breadcrums">
        <ul>
          <li><a href="index.html">Головна</a></li>
          <li><a>Кошик</a></li>
          <li><a>Платіж</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="container-fluid mb-3">
  <div class="row">
    <div class="col-12">
      <h1 class="section-title-checkout">Платіжні системи :</h1>
      <form method="post" action="https://www.liqpay.ua/api/3/checkout/" accept-charset="utf-8">
        <input type="hidden" name="data" value="{{ data }}" />
        <input type="hidden" name="signature" value="{{ signature }}" />
        <button type="submit" class="btn btn-success">LiqPay</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
