{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrums">
          <ul>
            <li>
              <a href="{% url 'main:index' %}">Головна</a>
            </li>
            <li>
              <a href="{% url 'user:orders' %}">Особистий кабінет</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-5">
        <div class="sidebar-profile">
          <h1><span>{{ form.first_name.value }} {{ form.last_name.value }}</span></h1>
          <ul>
            <li>
              <a href="{% url 'user:profile' %}"><img src="{% static 'assets/img/user.svg' %}" />Персональні дані</a>
            </li>
            {% if user.is_admin or user.is_staff %}
              <li>
                <a href="{% url 'admin:index' %}"><img src="{% static 'assets/img/admin.svg' %}" />Адмін. панель</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'user:orders' %}"><img src="{% static 'assets/img/cart-arrow.svg' %}" />Мої замовлення</a>
            </li>
            {% comment %} <li>
              <a href=""><img src="{% static 'assets/img/heart.svg' %}" />Список бажаного</a>
            </li> {% endcomment %}
            <li>
              <a href="{% url 'user:logout' %}"><img src="{% static 'assets/img/exit.svg' %}" />Вийти</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-7">
        <div class="section-title-orders">Ваші замовлення</div>
        {% if orders %}
          <div class="orders-content">
            <div class="accordion" id="accordionExample">
              {% for order in orders %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ order.id }}">
                    <button class="accordion-button {% if order != orders.0 %}{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ order.id }}" aria-expanded="false" aria-controls="collapse{{ order.id }}">
                      Замовлення <strong class="mx-2">{{ order.id }}</strong>
                      <div class="d-none d-lg-block">- {{ order.created_timestamp }}</div>| Статус:<strong class="mx-2">{{ order.status }}</strong>
                    </button>
                  </h2>
                  <div id="collapse{{ order.id }}" class="accordion-collapse collapse {% if order == orders.0 %}{% endif %}" aria-labelledby="heading{{ order.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Товар</th>
                              <th>Кількість</th>
                              <th>Ціна (за од.)</th>
                              <th>Адрес</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in order.orderitem_set.all %}
                              <tr>
                                <td>
                                  <a href="{% url 'products:product' item.product.slug %}">{{ item.product.name }}</a>
                                </td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.price }}</td>
                                <td>{% if item.order.delivery_address %}{{item.order.delivery_address}}{% else %}-{% endif %}</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="orders-amount d-flex justify-content-between">
                        <p>
                          <strong>Всього :</strong>
                        </p>
                        <p>
                          <strong>{{ item.products_price }} грн</strong>
                          {% endfor %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
