{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrums">
          <ul>
            <li>
              <a href="{% url 'main:index' %}">Головна</a>
            </li>
            <li>
              <span>Відновлення паролю</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-3">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-sm-8">
        <div class="password-reset p-3">
          <h1>Відновлення паролю через Email</h1>
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="col-lg-12">
                  <label for="id_email" class="form-label">Email :</label>
                  <input type="email" class="form-control" name="email" id="id_email" required />
                  {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
                  {% endif %}
                  <div class="invalid-feedback">Введіть Email</div>
                </div>
                <div class="lg-3 text-center">
                  <button type="submit" class="btn">Відправити запит на відновлення паролю</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
{% endblock %}
