{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Ви отримали цей лист через те, що зробили запит на перевстановлення пароля для облікового запису{% endblocktranslate %}

{% translate "Будь ласка, перейдіть по посиланю та створіть новий пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
