{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="breadcrums">
          <ul>
            <li>
              <a href="{% url "main:index" %}">Головна</a>
            </li>
            <li>
              <a href="#">Кошик</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="cart-items-container">
  {% include "carts/includes/included_cart.html" %}
  </div>
  
  {% endblock %}

