{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block head_catalog %}

{% endblock %}
{% block content %}
  <div class="about-us">
    <h2>Про нас</h2>
    <p>Ми - команда Dival, що спеціалізується на створенні стильних та комфортних інтер'єрів. Наша мета - забезпечити клієнтів якісними меблями та декором, що відображають їхні індивідуальність і стиль. Ми поєднуємо креативний дизайн і функціональність, щоб кожен простір став унікальним та затишним.</p>

    <h3>Наша місія</h3>
    <p>Наша місія - допомагати клієнтам створювати ідеальний дім, де кожен елемент відображає їхній стиль та смак. Ми прагнемо створювати естетичне та функціональне житло для наших клієнтів, допомагаючи їм знайти ідеальні рішення для будь-якого інтер'єру.</p>

    <h3>Наші цінності</h3>
    <p>У Dival ми прагнемо до якості, індивідуального підходу та креативності. Ми завжди ставимо клієнта на перше місце і прагнемо до його повного задоволення. Кожен наш проект відбиває наші цінності - якість, увагу до деталей і унікальність.</p>

    <h3>Наші послуги</h3>
    <p>Ми пропонуємо широкий вибір меблів, освітлення, текстилю та аксесуарів для дому. Наші консультанти готові допомогти вам з вибором і створенням ідеального інтер'єру. Від розробки дизайн-проекту до встановлення меблів - ми з вами на кожному етапі.</p>

    <h3>Наші переваги</h3>
    <p>У Dival ми пропонуємо спрощений процес вибору та покупки меблів завдяки зручному сайту, мережі салонів під домом та сервісу all-inclusive. Ми ставимо на передній план простоту продукту з урахуванням стилістики, фурнітури та принципу "менше зайвого".</p>
    <p>Ми гарантуємо адресну доставку замовлення прямо до вашого дому та швидке надання меблів завдяки наявності багатьох товарів на складах. На нашому сайті ви знайдете понад 1 мільйон товарів. Надаємо гарантію повернення або обміну товару протягом 30 днів.</p>
    <p>Наші професійні меблеві експерти доступні як в Інтернет-магазині, так і в салонах, де вони допоможуть вам з вибором і дизайном інтер'єру, зроблять заміри та зіберуть меблі для вас.</p>

    <h3>Наша команда</h3>
    <p>Команда Dival складається з досвідчених дизайнерів та консультантів з багаторічним досвідом роботи. Ми завжди раді бачити нових клієнтів і допомогти їм зробити їхній дім більш привабливим та затишним. Кожен учасник нашої команди працює з великим прагненням створювати найкращі інтер'єри для наших клієнтів.</p>

    <h3>Запрошуємо до Dival!</h3>
    <p>Приходьте до нашого шоуруму або зв'яжіться з нами онлайн, щоб почати створювати ваш ідеальний дім разом з Dival. Ми готові втілити ваші ідеї в реальність та забезпечити вам найкращі рішення для вашого простору.</p>
  </div>
{% endblock %}
