{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block head_catalog %}

{% endblock %}
{% block content %}
<div class="cooperation">
    <h1>Умови співпраці</h1>

    <h2>Співпраця з нашим магазином</h2>
    <p>Ми завжди відкриті до співпраці та прагнемо налагоджувати довгострокові партнерські відносини з нашими клієнтами та постачальниками. Якщо ви зацікавлені у співпраці з нами, будь ласка, ознайомтеся з нашими умовами.</p>

    <h2>Умови для постачальників</h2>
    <ul>
        <li><strong>Якість продукції:</strong> Ми приділяємо велику увагу якості товарів, тому всі меблі повинні відповідати нашим стандартам якості.</li>
        <li><strong>Умови постачання:</strong> Товари повинні бути доставлені в узгоджені терміни, із збереженням цілісності упаковки.</li>
        <li><strong>Цінова політика:</strong> Всі цінові умови та знижки обговорюються індивідуально, з урахуванням обсягів постачання та довгостроковості співпраці.</li>
    </ul>

    <h2>Умови для партнерів</h2>
    <ul>
        <li><strong>Вигідні умови:</strong> Ми пропонуємо нашим партнерам вигідні умови співпраці, гнучку систему знижок та бонусів.</li>
        <li><strong>Підтримка:</strong> Наші партнери отримують всебічну підтримку та консультації з питань продажу та просування продукції.</li>
        <li><strong>Ексклюзивні пропозиції:</strong> Ми пропонуємо нашим партнерам ексклюзивні умови на окремі категорії товарів.</li>
    </ul>

    <h2>Умови для клієнтів</h2>
    <ul>
        <li><strong>Індивідуальний підхід:</strong> Ми завжди намагаємося знайти індивідуальне рішення для кожного клієнта, враховуючи його потреби та побажання.</li>
        <li><strong>Гарантії та сервіс:</strong> Ми надаємо гарантії на всі наші товари та забезпечуємо високий рівень обслуговування клієнтів.</li>
        <li><strong>Знижки та акції:</strong> Ми регулярно проводимо акції та надаємо знижки на наші товари, щоб зробити покупки ще більш вигідними.</li>
    </ul>

    <h2>Як стати нашим партнером</h2>
    <p>Для того, щоб стати нашим партнером, будь ласка, зв'яжіться з нами через електронну пошту або телефон. Ми обговоримо всі деталі співпраці та знайдемо найкраще рішення для вас.</p>

    <h2>Контактна інформація</h2>
    <p>Якщо у вас є запитання або пропозиції щодо співпраці, будь ласка, зв'яжіться з нашою командою за наступними контактами:</p>
    <ul>
        <li><strong>Електронна пошта:</strong></li>
        <li><strong>Телефон:</strong></li>
    </ul>
    
    <p>Ми завжди раді новим партнерствам та співпраці! Дякуємо за ваш інтерес до нашого магазину меблів.</p>
</div>
{% endblock %}
