{% extends 'base.html' %}
{% load static %}
{% load product_tags %}
{% block head_catalog %}

{% endblock %}
{% block content %}
<div class="pay_delivery">
    <h1>Оплата і доставка</h1>
    
    <h2>Доставка при повній оплаті</h2>
    <p>Доставка меблів здійснюється транспортною компанією "Нова пошта".</p>
    <p>Вартість доставки залежить від фактичної ваги та об'єму товару. В середньому вартість доставки становить від ## грн.</p>
    <p>Після оформлення замовлення, відправка здійснюється протягом # днів.</p>
    <p>Способи оплати: карткою (Visa, Mastercard) онлайн через еквайринг Monobank.</p>

    <h2>Доставка з післяоплатою</h2>
    <p>Доставка меблів здійснюється транспортною компанією "Нова пошта".</p>
    <p>Вартість доставки та комісія за пересилання коштів оплачується покупцем.</p>
    <p>Орієнтовна вартість доставки складає від # грн + #% від вартості товару.</p>
    <p>Після оформлення замовлення, відправка здійснюється протягом # днів.</p>
    <p>Оплата здійснюється на пошті при отриманні товару.</p>

    <h2>Загальна інформація</h2>
    <ul>
        <li>Усі меблі ретельно пакуються для забезпечення безпеки при транспортуванні.</li>
        <li>Після відправлення замовлення ви отримаєте повідомлення з номером декларації для відстеження посилки.</li>
        <li>У разі виникнення питань щодо доставки або оплати, звертайтеся до нашої служби підтримки.</li>
    </ul>

    <p>Дякуємо, що обираєте наш магазин меблів!</p>
</div>
{% endblock %}
