{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrums">
                <ul>
                    <li><a href="{% url "main:index" %}">Головна</a></li>
                    <li><a href="{% url "main:index" %}">Catalog name</a></li>
                    <li><span>Product name</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-5  mb-3">
      <div class="galery h-100">
      <div id="carouselFade" class="carousel carousel-dark slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static "assets/img/products/shafa1.jpg" %}"class="d-block " alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static "assets/img/products/shafa2.jpg" %}"class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static "assets/img/products/shafa3.jpg" %}"class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-3">
      <div class="product-content p-3 h-100">
        <h1 class="section-title-product-name"><span>Product Name</span></h1>
        <p class="product-content-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ut debitis consectetur ducimus ullam vero ab odit dolorem. Similique odit id minima aspernatur aut suscipit a ullam. Minima, id quis!</p>
        <div class="product-add2cart">
          <div class="input-group">
            <input type="number" class="form-control" value="1" min="1">
            <button class="btn">
              <img src="{% static "assets/img/cart-solid.svg"%}" alt="" width="30px"> Додати в корзину
            </button>
            <div class="product-price">5 200<div class="currency">ГРН</div></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><img src="{% static "assets/img/shield.svg"%}" alt="" width="30px">ГАРАНТІЯ</h5>
                <ul class="list-unstyled">
                  <li>Гарантія 1 рік</li>
                  <li>Гарантія якості</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body ">
                <h5 class="card-title"><img src="{% static "assets/img/truck.svg"%}" alt="" width="30px">ДОСТАВКА</h5>
                <ul class="list-unstyled">
                  <li>Доставка по всій Україні</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><img src="{% static "assets/img/credit-card.svg"%}" alt="" width="30px">ОПЛАТА</h5>
                <ul class="list-unstyled">
                  <li>Готівка</li>
                  <li>Картка</li>
                  <li>VISA/MasterCard</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}