{% extends "base.html" %}
{% load static %}
{% load product_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrums">
                <ul>
                    <li><a href="{% url "main:index" %}">Головна</a></li>
                    <li><a href="{% url "catalog:index" product.category.slug %}">{{product.category.name}}</a></li>
                    <li><span>{{product.name}}</span></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-5  mb-3">
      <div class="galery h-100">
      <div id="carouselFade" class="carousel carousel-dark slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{product.image.url}}"class="d-block " alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{product.image.url}}"class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{product.image.url}}"class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-3">
      <div class="product-content p-3 h-100">
        <h1 class="section-title-product-name"><span>{{product.name}}</span></h1>
        <p class="product-content-p">{{product.description|linebreaks}}</p>
        <div class="product-add2cart">
          <div class="input-group">
            <a href="{% url "cart:cart_add" %}" class="btn add-to-card" data-product-id="{{product.id}}">{% csrf_token %}
              <img src="{% static "assets/img/cart-solid.svg"%}" alt="" width="30px"> Додати в кошик
            </a>
            <div class="product-price">{{product.sell_price}}<div class="currency">ГРН</div></div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><img src="{% static "assets/img/shield.svg"%}" alt="" width="30px">ГАРАНТІЯ</h5>
                <ul class="list-unstyled">
                  <li>Гарантія 1 рік</li>
                  <li>Гарантія якості</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body ">
                <h5 class="card-title"><img src="{% static "assets/img/truck.svg"%}" alt="" width="30px">ДОСТАВКА</h5>
                <ul class="list-unstyled">
                  <li>Доставка по всій Україні</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-2">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title"><img src="{% static "assets/img/credit-card.svg"%}" alt="" width="30px">ОПЛАТА</h5>
                <ul class="list-unstyled">
                  <li>Готівка</li>
                  <li>Картка</li>
                  <li>VISA/MasterCard</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}